/*
 * @Name: GitHub Event Web
 * @Author: Max Base
 * @Repository: https://github.com/BaseMax/GitHubEventWeb
*/
@font-face {
    font-family: 'metropolislight';
    src: url('metropolis-light.woff2') format('woff2'),
         url('metropolis-light.woff') format('woff');
    font-weight: normal; 
    font-style: normal;

}
* {
    padding: 0;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
h1 {
  font-family: 'metropolislight', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}
body {
    background: #FFFFFF;
    color: #565656;
    font-family: "metropolislight";
}
img {
    border: 0px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a.underline {
    padding-bottom: 4px;
    color: #565656;
    border-bottom: 2px solid white;
}
.gradient-subtext {
    background: -webkit-linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text {
    /* background: -webkit-linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%); */
    background: linear-gradient(267.91deg, #763DAC 9.35%, #3D90D4 96.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient-purple {
    background: linear-gradient(87.54deg, #9867F0 -6.8%, #ED4E50 84.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button {
    font-family: 'metropolislight', Arial, sans-serif;
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
    padding: 4px 28px;
    height: 40px;
    border-radius: 4;
    overflow: hidden;
    background: #007ab8;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on;
    color: #ffffff;
    border: 1px solid #007ab8;
}
.button:hover {
    background-color: white;
    transition-duration: 0.4s;
    background-position: 58% 50%;
    background-size: 500%;
    color: #007ab8;
}
section.updates {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(66,82,109,0.5);
    border-bottom: 1px solid rgba(66,82,109,0.5);
    padding-top: 45px;
    padding-bottom: 45px;
    color: #B5BFD2;
}
section.updates p.signup-text {
    font-size: 20px;
}
section.updates p.follow-text {
    margin-top: 35px;
}
footer {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    color: #959da5;
}
footer ul {
    width: 100%;
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
}
footer .logo {
    width: 45px;
    margin-bottom: 10px;
}
footer .copyright {
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}
ul.linear-list {
    display: inline-block;
    padding: 10px;
    text-align: center;
}
ul.linear-list li {
    display: inline-block;
    padding: 10px;
    text-align: center;
}
header {
    display: inline-block;
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    border-bottom: 0px solid rgba(66,82,109,0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}
header nav {
    float: right;
    margin-right: 30px;
}
header nav li {
    display: inline-block;
    margin-left: 9px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
header nav li.active {
    border-bottom: 2px solid #007ab8;
    /* border-bottom: 2px solid #FFE57F;  */
}
section.blog {
    width: 100%;
    float: left;
}
section.blog .subtitle {
    color: #FFE57F;
}
section.blog h1 {
    font-size: 40px;
    color: #FFE57F;
    margin-bottom: 15px;
}
section.blog p {
    text-align: justify;
    line-height: 30px;
    padding-top: 8px;
    padding-bottom: 15px;
}
section.blog .author {
    float: left;
    margin-left: 20px;
    margin-bottom: 35px;
}
section.blog .time {
    color: #B5BFD2;
}
section.blog .author .details {
    float: left;
    margin-left: 15px;
}
section.blog .author h5 {
    width: 100%;
    margin-top: 5px;
    font-size: 19px;
    margin-bottom: 5px;
}
section.blog .author span {
    width: 100%;
}
section.blog .author img {
    float: left;
    width: 70px;
    border-radius: 50%;
}
header .logo {
    width: 250px;
    float: left;
    line-height: 50px;
    margin-right: 15px;
    margin-top: 0px;
    margin-left: 25px;
}
header .time {
    float: left;
    line-height: 50px;
    color: #565656;
}
header .countdown-time {
    float: left;
    line-height: 50px;
    margin-left: 25px;
}
section.sponsors {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    /* border-top: 1px solid rgba(66,82,109,0.5); */
}
section.speakers {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
}
section.attends {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    background-position: bottom/left;
    background-attachment: cover;
    background-repeat: no-repeat;
}
section.attends h2 {
    font-size: 40px;
    margin-bottom: 60px;
    margin-top: 45px;
    color: #000000;
    font-weight: normal;
}
section.attends h4 {
    font-size: 20px;
    line-height: 30px;
}
section.attends p {
    color: #565656;
    margin-bottom: 50px;
}
section.content-small {
    height: auto !important;
}
section.content-small h1 {
    margin-top: 0px !important;
}
section.content {
    text-align: left;
    display: inline-block;
    width: 100%;
    height: 400px;
    background-color: #FFFFFF;
    background-image: url('vmworld-code-bg.png');
    background-position: top left;
    background-attachment: normal;
    background-repeat: no-repeat;
    background-size: cover;
}
section.sponsors h4 {
    font-size: 40px;
    color: #000000;
    line-height: 96px;
}
section.content h1 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 16px;
    color: #000;
}
section.content p {
    margin-bottom: 10px;
    color: #565656;
    font-size: 16px;
    line-height: 20px;
}
.container1 {
    width: 100%;
    margin: auto;
    padding: 45px;
}
.container2 {
    width: 100%;
    margin: auto;
}
.container4 {
    width: 100%;
    margin: auto;
    padding: 45px;
}
.container4 h2{
    font-size: 40px;
    color: #000000;
    text-align: center;
    line-height: 20px;
    font-weight: normal;
}
div.container5 {
    width: 100%;
    margin: auto;
    padding: 45px;
    background-color: #F7F7F7;
}
div.container5 h2{
    font-size: 40px;
    color: #000000;
    text-align: center;
    line-height: 20px;
    font-weight: normal;
}
div.container6 {
    width: 100%;
    margin: auto;
    padding: 45px;
    background-color: #FFFFFF;
}
div.container6 h2{
    font-size: 40px;
    color: #000000;
    text-align: center;
    line-height: 20px;
    font-weight: normal;
}
ul.sponsor-list {
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}
ul.sponsor-list li {
    width: 25%;
    float: left;
    margin-bottom: 15px;
    width: calc(25% - 16px);
}
ul.sponsor-list li img {
    text-align: center;
    vertical-align: middle;
    /* max-width: 150px; */
    /* max-height: 40px; */
    width: auto;
    max-width: 70%;
    max-height: 80px;
}
ul.sponsor-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 128px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: opacity .3s ease-in-out;
}
hr.gradient {
    background-color: #007AB8);
    height: 8px;
}
hr {
    background-color: #007AB8;
    height: 1px;
    border: none;
}
section.subscribe {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    z-index: 1;
    background-color: #F7F7F7;
    padding: 120px 0;
}
section.subscribe h2 {
    font-size: 40px;
    color: #000000;
    line-height: 50px;
    font-weight: normal;
}
section.subscribe p {
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}
ul.blog-utilites {
    float: right;
}
ul.blog-utilites li {
    display: inline-block;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
}
a.go-back {

}
a.go-back svg {
    float: left;
}
a.go-back span {
    float: left;
    line-height: 24px;
    margin-left: 10px;
}
.clear {
    clear: both;
}
section.faq {
    text-align: center;
    width: 100%;
    height: auto;
}
section.faq h1 {
    font-size: 40px;
    margin-bottom: 39px;
}
ul.faq-question {

}
ul.faq-question li {

}
ul.faq-question svg {
    float: right;
    cursor: pointer;
    margin-top: -35px;
    fill: #565656;
    transition: transform .6s ease;
}
ul.faq-question h2.faq-title {
    text-align: left;
    font-size: 20px;
    margin-bottom: 15px;
}
ul.faq-question .faq-content {
    text-align: left;
    margin-left: 0px;
    font-weight: 500;
    margin-bottom: 26px;
    color: #565656;
}
ul.speaker-list {
    width: 100%;
    float: left;
    margin-bottom: 19px;
}
ul.speaker-list li {
    width: 100%;
    height: auto;
    /* float: left; */
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 35px;
    border-bottom: 0px solid rgba(66,82,109,0.5);
}
ul.speaker-list li img {
    width: 110px;
    border-radius: 50%;
    /* border: 3px solid #FFE57F; */
    border: 0px solid #FF7170;
}
ul.speaker-list li h3 {
    text-align: center;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
    color: #000000;
    margin-bottom: 4px;
    line-height: 30px;
}
ul.speaker-list li h4 {
    font-size: 16px;
    color: #565656;
    line-height: 20px;
}
ul.speaker-list li h5 {
    font-size: 16px;
    color: #565656;
}
section.speakers h1 {
    font-size: 40px;
    color: #000000;
    line-height: 96px;
    margin-top: 45px;
    margin-bottom: 25px;
}
section.profile {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 45px;
}
section.profile .avatar {
    float: left;
    width: 250px;
    border-radius: 10px;
}
section.profile .details {
    width: calc(100% - 275px);
    margin-left: 25px;
    float: left;
}
section.profile h1 {
    font-size: 40px;
    margin-bottom: 8px;
}
section.profile h2 {
    color: #565656;
    margin-bottom: 25px;
}
section.profile .social {
    margin-top: 25px;
}
section.profile .social svg {
    height: 24px;
    fill: currentColor;
    margin-right: 25px;
}
div.polaroid {
  width: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 70px;
  margin-right: 70px;
  margin-top:30px;
  margin-bottom:30px;
}

img {width: 100%}

div.boxes {
  text-align: center;
  padding: 10px 20px;
}
section.boxes {
    margin:center;
    text-align: center;
    display: inline-flex;
    padding-top: 30px;
    padding-bottom: 35px;
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
}
section.content2 {
    text-align: center;
    display: inline-flex;
    padding-top: 30px;
    padding-bottom: 35px;
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
}
.container-card {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-color: #FFFFFF;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 250px;
}
.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}
.card-body h {
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.card-body p {
  font-size: 16px;
  margin: 0 0 40px;
  text-align: center;
  line-height: 20px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
div.container-agenda2 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #FFFFFF;
}

div.container-agenda {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F7F7F7;
}

div.container-agenda h2 {
  font-size: 20px;
  margin: 20px 0;
  text-align: left;
  font-weight: normal;
}

li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.col-1 {
    flex-basis: 10%;
}
.col-2 {
    flex-basis: 35%;
}
.col-3 {
    flex-basis: 15%;
}
.col-4 {
    flex-basis: 15%;
}
.col-5 {
    flex-basis: 15%;
}

@media all and (max-width: 767px) {
.table-header {
    display: none;
}
.table-row {

}
li {
    display: block;
}
.col {

    flex-basis: 100%;

}
.col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #1d428a;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
  }
}
  

